.order-card {
  width: 100% !important;
  display: flex !important;
  align-self: center !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #fff;
  flex-direction: column;
  height: 250;
  position: relative;
  .heading-order {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 2px solid red;
    &:hover {
      color: rgb(93, 198, 224);
    }
  }
  span {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
  }
  .active-heading {
    border-bottom: 3px solid rgb(0, 211, 28) !important;
  }
}
.order-heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
    height: 100px;
  }
  p {
    margin-left: 10px;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 30px;
  }
}

.customer-table-con {
  display: flex;
  width: 250px;
  & > * {
    margin: 10;
  }
  height: auto;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .phone-num-order {
    padding-top: 0;
    margin-top: 0;
    font-size: 12px;
    margin-left: 10px;
  }
}
.container-order-custo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.msg-icon {
  cursor: pointer;
  &:hover {
    color: rgb(253, 195, 5);
  }
}
.select-order-details {
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
}
.modal-img-custo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.modal-customer-name {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5;
}
